.outer-container
  %ul.accordion-tabs-minimal.col-8
    %li.tab-header-and-content
      = link_to 'Your Contrib', '#', class: 'tab-link'
      .tab-content
        = render 'messages/new', stage: resource
    %li.tab-header-and-content
      = link_to 'Complete Performance', '#', class: 'tab-link'
      .tab-content
        %pre
          %code
            = resource.performance.to_s

    %li.tab-header-and-content
      = link_to 'Band mates', class: 'tab-link' do
        Band mates
      .tab-content
        %ul
          - resource.contributions.map(&:user).each do |user|
            %li
              %h4= user.name

  .log.col-4
    = link_to reload_stage_path, remote: true do
      %i{ class: 'material-icons play' }
        play_arrow
    = link_to stop_stage_path, remote: true do
      %i{ class: 'material-icons stop' }
        stop
    = link_to reset_stage_path, method: :put do
      %i{ class: 'material-icons reset' }
        refresh
    = link_to root_path do
      %i{ class: 'material-icons' }
        home
    .messages
      = render 'messages/messages', stage: resource

:javascript
  $(document).ready(function() {
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
