.stage
  #bar
    %h1= resource.title
  #actions
    = link_to reload_stage_path(resource) do
      %i{ class: 'material-icons md-48' }
        play_circle_outline

    = link_to stop_stage_path(resource) do
      %i{ class: 'material-icons md-48' }
        pause_circle_outline

    = link_to reset_stage_path(resource), method: :put do
      %i{ class: 'material-icons md-48' }
        highlight_off

  = render 'messages/messages', stage: resource
