%h1
  = resource.title
%p
  = resource.description

%hr
  = link_to 'Reset', reset_stage_path(resource), method: :put
%hr

%h2 Performance:
%p
  = resource.performance

%h2 Messages:
= render 'messages/messages', stage: resource
