!!!
%html
  %head
    %title euruband
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'hightlight/solarized_dark.css', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %meta{:id => @current_user.try(:id), :name => "current-user"}

  %body
    = yield
